@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
    --primary-color: #002cf6;
    --dark-color: #15120f;
    --accent-color: #615d5a;
    --light-color: #bdcabc;
    --secondary-color: #f2f4f6;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Noto Sans", sans-serif;
    scroll-behavior: smooth;
}

body {
    font-size: 1.5rem;
    background-image: linear-gradient(90deg, var(--secondary-color) 50%, var(--primary-color) 50%);
 }

.cards {
    position: relative;
    width: 60%;
    /* border: 1px solid red; */
    margin: 0 auto;
    padding-top: 17rem;

    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
   

}

.card {
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    background: white;
    box-shadow: 0.2rem 0.2rem 0.5rem 0.2rem var(--accent-color);
    
    border-radius: .4rem;

    display: flex;
    justify-content: space-between;
    flex: 0 0;
    
}

.card__upper {
    margin-bottom: 5rem;
}

.card__avatar {
   flex-shrink: 0;
   position: relative;
   display: flex;
   /* justify-content: end; */
   align-self: start;
}

.card__avatar--img{
    overflow: hidden;
    width: 8rem;
    height: 8rem;
    border-radius: 50%; 
}

.card__avatar--checkmark {
    position: absolute;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 2rem;
    bottom: 0.3rem;
    right: 0.3rem;
    text-align: center;
    border-radius: 100%;
    box-sizing: content-box;
}

.card__infobox {
    padding: 0 4rem;
    flex-basis: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 50rem;

    /* gap: 1rem */
}

.card__statistics {
    display: flex;
    justify-content: space-between;
}

.btn__box {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: start;
    flex-basis: 20rem;

}

.btn {
    padding: .5rem;
    margin: .5rem;
    cursor: pointer;
    font-family: inherit;
    font-weight: normal;
    outline: none;
    border: none;
    border-radius: .5rem;
    
    
}


.btn__edit {
    
    background-color: var(--primary-color);
    color: white;
    border: 1px solid var(--primary-color);
}

.btn__edit:hover,
.btn__edit:focus{
    background: var(--secondary-color);
    color: var(--dark-color);
    border: 1px solid var(--primary-color);
}

.btn__ellipsis {
    background-color: var(--secondary-color);
    color: var(--dark-color);
    border: 1px solid var(--secondary-color);
}

.btn__ellipsis:hover,
.btn__ellipsis:focus{
    background: var(--secondary-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color)
}

